/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #353430;
  --block-text-color: #353430;
  --bg-text-color: #FF8DCB;
  --title-color: #353430;
  --sub-topic-title: #FF8DCB;
  --link-color:#FF8DCB;
  --focus-color: #FFC2E6;
  --page-color: #FFF1F7;
  --bg-img: url(/images/cover-image-light.png);
}

/* Переменные светлой темы */   
:root.theme-light {
  --accent-color: #353430;
  --block-text-color: #353430;
  --bg-text-color: #FF8DCB;
  --title-color: #353430;
  --sub-topic-title: #FF8DCB;
  --link-color:#FF8DCB;
  --focus-color: #FFC2E6;
  --page-color: #FFF1F7;
  --bg-img: url(/images/cover-image-light.png);
}
/* Остальные стили */

.page.theme_light .lamp {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --block-text-color: #353430;
    --bg-text-color: #FF8DCB;
    --title-color: #353430;
    --sub-topic-title: #FF8DCB;
    --link-color:#FF8DCB;
    --focus-color: #FFC2E6;
    --page-color: #FFF1F7;
    --bg-img: url(/images/cover-image-light.png);
  }
  
  .lamp {
    display: none;
  }
}

