/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

 .decorated-zone::before {
   border-top: 1px solid var(--accent-color);
   border-right: 1px solid var(--accent-color);
 }
 
 .decorated-zone::after {
   border-bottom: 1px solid var(--accent-color);
   border-left: 1px solid var(--accent-color);
 }

 .lamp {
  color: var(--accent-color);
}

 .lamp::after {
   border: 1px solid var(--accent-color);
   border-top: 1px solid var(--accent-color);
   border-right: 1px solid var(--accent-color);
   background-color: var(--accent-color);
   border-radius: 50%;
   box-shadow: 0px 0px 4px 2px var(--accent-color);
 }
 
 .header__theme-menu-button {
    color: var(--accent-color);
 }
 .header__theme-menu-button_active {
    outline:  1px solid var(--accent-color);
    pointer-events: none;
 }

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.40);
}

.header__theme-menu-button:focus {
  outline-color: transparent;
  border-bottom: 1px solid var(--accent-color);
 }

.header__theme-menu-button:focus-visible {
  outline: 0;
  outline-color: transparent;
  border-bottom: 1px solid var(--accent-color);
}

 .header__logo {
   color: var(--focus-color);
   text-shadow: 4px 4px 0px var(--link-color);
 }
 
 .title-decor {
   color: var(--title-color);
   background-color: var(--bg-text-color);
 }
 
 .section {
   color: var(--block-text-color);
 }

 .section__title {
   color: var(--accent-color);
 }
 
 .sub-topic__title {
   color: var(--title-color);
   background-color: var(--bg-text-color);
 }
 
 .section__text {
   color: var(--block-text-color);
 }
 
 .section__link {
   text-shadow: 2px 2px 1px var(--link-color);
   text-decoration: none;
   outline: 0;
   transition: outline 2s;
 }
 
 .section__link:hover {
  border-bottom: 1px solid  var(--block-text-color);
 }
 
.section__link:focus {
  outline: 1px solid  var(--block-text-color);
  text-decoration: none;
}

 .section__link:focus-visible {
   outline: 1px solid  var(--block-text-color);
   text-decoration: none;
 }